.prueba {
  background-color: brown;
  height: 400px;
  font-size: xx-large;
}
.prueba2 {
  background-color: rgb(169, 165, 40);
  height: 200px;
  font-size: xx-large;
  position: relative;
  top: 45px;
}
@media screen and (max-width: 600px) {
  .prueba2 {
    background-color: rgb(169, 165, 40);
    height: 200px;
    font-size: xx-large;
    position: absolute;
    top: 300px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .prueba {
    background-color: blue;
    font-size: medium;
  }
}
@media screen and (max-width: 1080px) {
  .prueba {
    background-color: rgb(4, 255, 0);
    font-size: medium;
  }
}
